.complaints-wrapper{
	$success-green: #16B594;
	$success-green-hover: #27ae60;
	$s3-gentle-black: #292c2f;
	min-width: 768px;
	min-height: 600px;
	.disp-block{
  		display : block;
  	}
  	.margin-top-20{
  		margin-top:20px;
  	}  	
  	.page-header{
  		.navbar-override{
  			border-radius: 0;
  			.nav-item-override{
  				list-style-type: none;
  				top: 5px;
    			position: relative;
  			}
  			.nav-brand-override{
  				color: #fff;
  				font-size: 22px;
  				text-indent: 20px;
  			}
  			.nav-link-override{
  				color: #fff;
			    padding: 5px;
			    margin-top: 0px;
			    background: rgba(0,0,0,.5);
			    border-radius: 5px;
  			}
  			.dropdown-menu-override{
  				background: rgba(0,0,0,.85);
  				a{
  					padding: 5px;
  					color: #fff;
  				}  				  				
  			}
  			.user-icon{
  				font-size: 22px;
  			}
  			.user-name{
  				top: 10px;
  			}
	  	}	
  	}	
    .s3-footer{
    	font-family: Roboto;
    	position: relative;
		bottom: 0;
		width: 100%;
		height: auto;
		line-height: 25px;
		background-color: $s3-gentle-black;		
		//background-image: url("assets/img/blur-bg-blurred.jpg");
		//background-image: url("assets/img/peachy-bg.jpg");
		background-size: 100% 100%;
    	background-repeat: no-repeat;		
		.footer-lhs{			
			text-align: center;
			color: #fff;	
			.seperator{
				font-size: 4px;
				margin : 0 10px;
			}
			a{
				//color: #fff;	
				color: #aaa;	
			}
		}	
		.footer-rhs{
			color: #aaa;	
			border-radius: 5px;
		    margin: 15px 0;
		    background: #1f2022;		    
			.box-title{
				text-align:center;
				margin:10px 0;	
				font-size: 16px;			
			}
			.contact-us-message{
				margin-top: 35px; 
				.s3-textarea{
					resize: none;				
					height: 75px;
				}			
			}			
			.action-button{
				background:$success-green;
				border:0;
				color:#fff;
				padding:10px;
				font-size:12px;
				width:120px;
				margin: 10px 0;
			}
			.action-button:active{
				background:$success-green;
			}
			.action-button:hover{
				background:$success-green-hover;	
			}
		}
    }
    .page-content{
		background-image: url("assets/img/peachy-bg.jpg");
		//background-image: url("assets/img/blur-bg.jpg");
		background-size: 100% 100%;
    	background-repeat: no-repeat;		
    	min-height: 500px;
    	padding: 30px 0;
    	overflow-x: hidden;
    	.inner-container{    		
			margin : 20px 0;
		  	width: 100vw;
    		height: 100vh;
		  	display: flex;
		  	justify-content: center;	
		  	align-items: center;
    		.box{
				height:600px;
				width:50%;
				font-family:Helvetica;
				color:#fff;
				background:rgba(0,0,0,0.25);
				padding:10px 0px;
				border-radius: 10px;
			  	.box-title{
					text-align:center;
					margin:20px 0;
					font-size:30px;
				}
				.input-element{
					display:block;
					width:400px;
					margin:15px auto;
					padding:10px;
					background:rgba(0,0,0,0.3);
					color:#fff;
					border:0;
				}
				.input-element:focus,.input-element:active,.input-element:focus,.input-element:active{
				  outline:none;
				}
				.input-textarea{
					resize: none;
					height: 200px;
				}
				.action-button{
					background:$success-green;
					border:0;
					color:#fff;
					padding:10px;
					font-size:20px;
					width:330px;
					margin:20px auto;
					display:block;
					cursor:pointer;
				}
				.action-button:active{
					background:$success-green;
				}
				.action-button:hover{
					background:$success-green-hover;	
				}
				.last-line{
				  	font-size:14px;
				  	text-align:center;
				  	.link-action{
					  	cursor:pointer;
					  	color:$success-green;
					}
					.link-action:hover{
					  	color:$success-green-hover;
					}
				}				
			}
		}
    }
}
